
:root{
	--main-color: #55A255;
	--deep-color: #375E37;
    --light-color1: #BFDEBF;
    --light-color2: #D6E2D1;
	--bg-color: #F8F7F1;
    --gray100-color: #F5F5F5;
    --gray300-color: #9a9a9a;
    --gray600-color: #6a6a6a;
    --gray900-color: #3a3a3a;
    --darkgray-color: #1a1a1a;
	--font-special : 'Diphylleia'
}

.section_title{
    font-size: clamp(24px, 2.42vw + 0.02rem, 32px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: clamp(12px, 0.42vw + 7.82px, 16px);
    color: var(--gray900-color);
}

.section_sub{
    font-size: clamp(16px, 0.3vw + 17px, 22px);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.03em;
    color: var(--gray300-color);
}

.cta_title{
    font-size: clamp(24px, 5.05vw - 6px, 44px);
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #ffffff;
    font-family: Diphylleia;
}

.cta_sub{
    font-size: clamp(16px, 1.51vw + 1px, 22px);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: #ffffff;
}

body .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, #ffffff);
}

.main-color{
	color : var(--main-color);
}
.main-bg-color{
	background-color: var(--main-color) !important;
}

.contentbox{
	padding: 5px clamp(15px, 5vw, 80px) !important;
}

.footer_contentbox{
	padding: 60px clamp(15px, 5vw, 80px) !important;
}

.icon.icoClose:before, 
.icon.icoClose:after {
    background: #fff !important; 
}

.main_product_category .main_product_tab li .button:after{
	background-color: var(--main-color);
}

.mainfont{
	font-family: var(--font-special) !important;
}

body#amj .main_ft_banner{
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/qurationbg.jpg);
    background-size:cover;
    aspect-ratio : 1920 / 654;
    max-width:none;
    width:auto;
}

#header .top_mypage span.EC-Layout-Basket-count{
    color: #fff;
    font-size: 12px;
}

#amj #header.layout3 .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {
    top: 24px;
}

#anchorBoxId_180 > div > div.thumbnail > div.sale_box,
#anchorBoxId_203 > div > div.thumbnail > div.sale_box,
#anchorBoxId_212 > div > div.thumbnail > div.sale_box,
#anchorBoxId_194 > div > div.thumbnail > div.sale_box,
#anchorBoxId_176 > div > div.thumbnail > div.sale_box,
#anchorBoxId_177 > div > div.thumbnail > div.sale_box,
#anchorBoxId_185 > div > div.thumbnail > div.sale_box{
    display: none;
} 


/* #new,#pick .prdList .sale_box{
    display: none;
} */

#news .boardList .xans-board-list-1 > div{
  float:right;
  width : calc( 50% - 12px );
  aspect-ratio : 603 / 265;
  background-size:cover !important;
}

#news .boardList .xans-board-list-1 > div:nth-child(1){
    float :left;
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/news_1.jpg);   
    aspect-ratio : 603 / 549;    
}
#news .boardList .xans-board-list-1 > div:nth-child(2){
    
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/news_2.jpg); 
}
#news .boardList .xans-board-list-1 > div:nth-child(3){
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/news_3.jpg); 
    margin-top: 20px;
}

#news{
	margin-top: 120px;
	margin-bottom: 120px;
}

#amj #review>div.main_title {
    margin-top: 0px;
}

@media (max-width:1700px){
    #amj #header.layout3 .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {
    top: 40px;
    }
}

#review img{
    margin-bottom: 20px;
}

#review .main_title p.more a{
    color: var(--main-color);
}

#review a.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
    display: block;
    color: var(--gray900-color);
}

#review .des p span {
    display: -webkit-box;            /* 박스 형태로 표시 */
    -webkit-line-clamp: 4;           /* 4줄까지만 표시 */
    -webkit-box-orient: vertical;    /* 세로 방향 정렬 */
    overflow: hidden;                /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;         /* 말줄임표(...) 표시 */
    line-height: 1.5;                /* 줄 간격 (줄 수를 맞추기 위해 필수) */
    max-height: 6em;                 /* (줄 수 * line-height) 값으로 높이 제한 */
}

#amj #review .main_title_txt02{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin-top: 15px;
    color: var(--gray300-color);
}

#news .xans-board-1 div h2 font{
    font-size: clamp(24px, 2.42vw + 0.02rem, 32px);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: clamp(12px, 0.42vw + 7.82px, 16px);
    color: var(--gray900-color);
}

#news > div.boardList > div > div > span.subject > a > strong{
    display: inline-block;
    font-size: clamp(20px, 1.01vw + 10px, 24px);
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.03em;
    margin-bottom: clamp(12px, 0.42vw + 7.82px, 16px);
    color: #ffffff;
}
#amj  #news .subject a p{
    font-size: clamp(16px, 1.01vw + 6px, 20px);
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #ffffff;
}

#news .position-relative p.more a{
    color: var(--main-color);
}


#amj #review .ec-base-table .row{
    margin-bottom: 130px;
}

#amj #review ul li .title{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -3%;
    color: var(--gray900-color);
}

#amj #review ul li .des p, span{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -3%;
    color: var(--gray600-color);
}

#amj #footer .bt_util ul li a{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .inner .bt_info .bt_info_list > div span:nth-child(1){
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -3%;
    color: var(--darkgray-color);
    margin-right: 4px;
}

#footer .bt_wrap .bt_info_list span:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .bt_wrap .bt_cscenter .bt_txt01 strong{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .bt_wrap .bt_cscenter .bt_txt01 span{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .bt_wrap .bt_cscenter .bt_txt02 strong{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .bt_wrap .bt_cscenter .bt_txt02 span{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .bt_wrap .bt_bank .title_sub strong{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

#footer .bt_wrap .bt_bank .bt_txt02 ul li span{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -3%;
    color: var(--darkgray-color);
}

@media (max-width:991px){
   body#amj #news .boardList .xans-board-list-1 > div {
        float: none;
        width: auto;
        margin-top: clamp(8px, 1.5vw, 20px);
    }
    body#amj #news .boardList .xans-board-list-1 > div:nth-child(1) {
        aspect-ratio: 603 / 265;
        background-position: center 99%;
    }
}

#amj .path{
    display: none !important;
}

#container #contents .titleArea p{
    display: none;
}

/* body#amj  > div > div.description > div.name > a > span:nth-child(2){
    display: inline-block;
    font-size: clamp(16px, 0.2vw + 16px, 18px) !important;
    font-weight: 500;
    line-height: 1;
    color: #2a2a2a !important;
    letter-spacing: -0.03em;
}

body#amj #anchorBoxId_171 > div > div.description > div.name > a > span:nth-child(2){
    display: inline-block;
    font-size: clamp(16px, 0.2vw + 16px, 18px) !important;
    font-weight: 500;
    line-height: 1;
    color: #2a2a2a !important;
    letter-spacing: -0.03em;
} */

body#amj #sale .xans-product-listmain-4 .prdList__item .thumbnail .description >a span:nth-child(2){
    display: inline-block;
    font-size: clamp(16px, 0.2vw + 16px, 18px) !important;
    font-weight: 500;
    line-height: 1;
    color: #2a2a2a !important;
    letter-spacing: -0.03em;
}

#contents > section.section.main_image_text_gallery > div.main_3dan_banner.ez-mobile-layout-slide > ul > li > a > div > div.main_banner_txt01{
    font-size: clamp(16px, 0.4vw + 14px, 20px);
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--gray900-color);
}

#contents > section.section.main_image_text_gallery > div.main_3dan_banner.ez-mobile-layout-slide > ul > li > a > div > div.main_banner_more{
    font-size: clamp(14px, 0.4vw + 12.8px, 16px);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--gray300-color);
}

#contents > section.section.main_image_text_gallery > div.main_3dan_banner.ez-mobile-layout-slide > ul > li > a > div{
    margin-top: clamp(16px, 0.8vw + 12.8px, 24px);
}

#contents .boardList ul li a span strong.subject strong{
    color: var(--gray900-color);
}

#contents .boardList ul li a span strong.subject p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--gray300-color);
}

#gallery div div{
    gap: clamp(8px, 2vw, 24px);
}