
:root{
	--main-color: #55A255;
	--deep-color: #375E37;
    --light-color1: #BFDEBF;
    --light-color2: #D6E2D1;
	--bg-color: #F8F7F1;
    --gray100-color: #F5F5F5;
    --gray300-color: #9a9a9a;
    --gray600-color: #6a6a6a;
    --gray900-color: #3a3a3a;
	--font-special : 'Diphylleia'
}

body .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--main-color));
}

.main-color{
	color : var(--main-color);
}
.main-bg-color{
	background-color: var(--main-color) !important;
}

.contentbox{
	padding: 5px clamp(15px, 5vw, 80px) !important;
}

.footer_contentbox{
	padding: 60px clamp(15px, 5vw, 80px) !important;
}

.icon.icoClose:before, 
.icon.icoClose:after {
    background: #fff !important; 
}

.main_product_category .main_product_tab li .button:after{
	background-color: var(--main-color);
}

.mainfont{
	font-family: var(--font-special) !important;
}

body#amj  .main_ft_banner{
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/qurationbg.jpg);
    background-size:cover;
    aspect-ratio : 1920 / 654;
    max-width:none;
    width:auto;
}

#news .boardList .xans-board-list-1 > div{
  float:right;
  width : calc( 50% - 12px );
  aspect-ratio : 603 / 265;
  background-size:cover !important;
}

#news .boardList .xans-board-list-1 > div:nth-child(1){
    float :left;
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/news_1.jpg);   
    aspect-ratio : 603 / 549;    
}
#news .boardList .xans-board-list-1 > div:nth-child(2){
    
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/news_2.jpg); 
}
#news .boardList .xans-board-list-1 > div:nth-child(3){
    background:url(https://ecimg.cafe24img.com/pg3015b10050531030/amjsikmulseoga/web/upload/news_3.jpg); 
    margin-top: 20px;
}

#news{
	margin-top: 120px;
	margin-bottom: 120px;
}

#amj #cta div.mainfont{
    font-family: 44px;
}

@media (max-width:991px){
   body#amj #news .boardList .xans-board-list-1 > div {
        float: none;
        width: auto;
        margin-top: clamp(8px, 3vw, 20px);
    }
    body#amj #news .boardList .xans-board-list-1 > div:nth-child(1) {
        aspect-ratio: 603 / 265;
        background-position: center 18%;
    }

}